/* You can add global styles to this file, and also import other style files */
@import '~@spartacus/styles/index';

:root {
  --y-primary: #f0ab00;
  --y-dark: #000;
}

y-add-to-cart {
  --y-primary: #008fd3;
}
